# Ignore macOS debug symbols
*.dSYM/

# Ignore compiled binary executables (if you compile without an extension)
agecheck
calculator
condition1
converter
discount
main
shopping
temperature
temperaturecheck
weekday